In [1]:
import seaborn as sns

import pandas as pd

import numpy as np

import matplotlib.pyplot as plt

import warnings


warnings.filterwarnings("ignore")


diamonds = sns.load_dataset("diamonds")

diamonds.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [2]:
type(diamonds)

pandas.core.frame.DataFrame

In [36]:
print(diamonds.shape)
diamonds.describe()

(53940, 10)

,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [3]:
diamonds.describe(exclude=np.number)

          cut  color clarity
count   53940  53940   53940
unique      5      7       8
top     Ideal      G     SI1
freq    21551  11292   13065

In [4]:
diamonds.dtypes

carat       float64
cut        category
color      category
clarity    category
depth       float64
table       float64
price         int64
x           float64
y           float64
z           float64
dtype: object

In [5]:
from sklearn.model_selection import train_test_split

# Extract feature and target arrays
X, y = diamonds.drop('price', axis=1), diamonds[['price']]

In [6]:
X, y

(       carat        cut color clarity  depth  table     x     y     z
 0       0.23      Ideal     E     SI2   61.5   55.0  3.95  3.98  2.43
 1       0.21    Premium     E     SI1   59.8   61.0  3.89  3.84  2.31
 2       0.23       Good     E     VS1   56.9   65.0  4.05  4.07  2.31
 3       0.29    Premium     I     VS2   62.4   58.0  4.20  4.23  2.63
 4       0.31       Good     J     SI2   63.3   58.0  4.34  4.35  2.75
 ...      ...        ...   ...     ...    ...    ...   ...   ...   ...
 53935   0.72      Ideal     D     SI1   60.8   57.0  5.75  5.76  3.50
 53936   0.72       Good     D     SI1   63.1   55.0  5.69  5.75  3.61
 53937   0.70  Very Good     D     SI1   62.8   60.0  5.66  5.68  3.56
 53938   0.86    Premium     H     SI2   61.0   58.0  6.15  6.12  3.74
 53939   0.75      Ideal     D     SI2   62.2   55.0  5.83  5.87  3.64

 [53940 rows x 9 columns],
        price
 0        326
 1        326
 2        327
 3        334
 4        335
 ...      ...
 53935   2757
 53936   2757
 53937   2757
 53938   2757
 53939   2757

 [53940 rows x 1 columns])

In [7]:
# Split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [8]:
len(X_train) / len(X)

0.75

In [9]:
import xgboost as xgb

# Create regression matrices
dtrain_reg = xgb.DMatrix(X_train, y_train, enable_categorical=True)
dtest_reg = xgb.DMatrix(X_test, y_test, enable_categorical=True)

In [10]:
# Define hyperparameters
params = {"objective": "reg:squarederror", "tree_method": "hist"}

In [11]:
n = 100
model = xgb.train(
   params=params,
   dtrain=dtrain_reg,
   num_boost_round=n,
)

In [12]:
from sklearn.metrics import mean_squared_error

preds = model.predict(dtest_reg)

In [13]:
preds

array([ 478.66202, 5764.2817 , 2823.1067 , ..., 3661.879  , 3771.9734 ,
       1217.2239 ], dtype=float32)

In [14]:
mse = mean_squared_error(y_test, preds)

rmse = np.sqrt(mse)

print(f"RMSE of the base model: {rmse:.3f}")

RMSE of the base model: 552.861

In [15]:
params = {"objective": "reg:squarederror", "tree_method": "hist"}
n = 100

In [16]:
evals = [(dtrain_reg, "train"), (dtest_reg, "validation")]

model = xgb.train(
   params=params,
   dtrain=dtrain_reg,
   num_boost_round=n,
   evals=evals,
)

[0]	train-rmse:2874.49146	validation-rmse:2817.90814
[1]	train-rmse:2092.16823	validation-rmse:2054.95423
[2]	train-rmse:1552.12189	validation-rmse:1527.41146
[3]	train-rmse:1187.31114	validation-rmse:1177.15463
[4]	train-rmse:945.00210	validation-rmse:946.17688
[5]	train-rmse:787.62126	validation-rmse:798.39908
[6]	train-rmse:688.66889	validation-rmse:710.32109
[7]	train-rmse:626.37436	validation-rmse:654.59324
[8]	train-rmse:589.02723	validation-rmse:624.32385
[9]	train-rmse:565.28857	validation-rmse:604.03193
[10]	train-rmse:548.36512	validation-rmse:592.03160
[11]	train-rmse:538.14853	validation-rmse:582.18167
[12]	train-rmse:531.04914	validation-rmse:576.99121
[13]	train-rmse:523.65001	validation-rmse:571.84722
[14]	train-rmse:517.23823	validation-rmse:569.23515
[15]	train-rmse:512.12649	validation-rmse:565.44660
[16]	train-rmse:508.28365	validation-rmse:564.20517
[17]	train-rmse:504.66129	validation-rmse:562.61534
[18]	train-rmse:499.97005	validation-rmse:560.30264
[19]	train-rmse:494.48271	validation-rmse:559.37058
[20]	train-rmse:491.09887	validation-rmse:558.53485
[21]	train-rmse:488.67767	validation-rmse:558.01994
[22]	train-rmse:486.38305	validation-rmse:557.90492
[23]	train-rmse:485.23885	validation-rmse:557.46372
[24]	train-rmse:481.70580	validation-rmse:557.26104
[25]	train-rmse:477.84385	validation-rmse:557.44475
[26]	train-rmse:475.85525	validation-rmse:557.00398
[27]	train-rmse:473.46346	validation-rmse:555.82572
[28]	train-rmse:473.07109	validation-rmse:555.54059
[29]	train-rmse:471.53967	validation-rmse:555.64677
[30]	train-rmse:469.58201	validation-rmse:555.51015
[31]	train-rmse:468.38248	validation-rmse:555.09184
[32]	train-rmse:465.80510	validation-rmse:554.40012
[33]	train-rmse:462.80731	validation-rmse:553.73134
[34]	train-rmse:461.55972	validation-rmse:553.66604
[35]	train-rmse:460.88174	validation-rmse:553.47266
[36]	train-rmse:460.37961	validation-rmse:553.18168
[37]	train-rmse:459.42502	validation-rmse:552.82279
[38]	train-rmse:458.74026	validation-rmse:552.64012
[39]	train-rmse:454.93848	validation-rmse:554.62723
[40]	train-rmse:454.32953	validation-rmse:554.45666
[41]	train-rmse:451.48873	validation-rmse:554.97367
[42]	train-rmse:448.26382	validation-rmse:554.21823
[43]	train-rmse:446.54504	validation-rmse:553.76871
[44]	train-rmse:444.38477	validation-rmse:553.32179
[45]	train-rmse:444.09226	validation-rmse:553.12523
[46]	train-rmse:441.77056	validation-rmse:553.43138
[47]	train-rmse:441.28968	validation-rmse:553.24490
[48]	train-rmse:440.68400	validation-rmse:553.41364
[49]	train-rmse:439.33453	validation-rmse:554.04242
[50]	train-rmse:438.68033	validation-rmse:554.13365
[51]	train-rmse:437.68290	validation-rmse:553.58025
[52]	train-rmse:436.71053	validation-rmse:553.30673
[53]	train-rmse:434.28573	validation-rmse:553.84978
[54]	train-rmse:432.87550	validation-rmse:553.45943
[55]	train-rmse:431.51684	validation-rmse:553.31997
[56]	train-rmse:430.30951	validation-rmse:553.04415
[57]	train-rmse:429.26858	validation-rmse:552.87916
[58]	train-rmse:427.93117	validation-rmse:552.90857
[59]	train-rmse:426.77640	validation-rmse:552.10687
[60]	train-rmse:425.38361	validation-rmse:551.57888
[61]	train-rmse:424.17922	validation-rmse:551.35863
[62]	train-rmse:422.67471	validation-rmse:551.41574
[63]	train-rmse:422.11624	validation-rmse:551.02024
[64]	train-rmse:421.16250	validation-rmse:550.59397
[65]	train-rmse:419.55450	validation-rmse:550.50352
[66]	train-rmse:419.10641	validation-rmse:550.65366
[67]	train-rmse:418.64267	validation-rmse:550.57419
[68]	train-rmse:417.91313	validation-rmse:550.29199
[69]	train-rmse:416.57651	validation-rmse:549.86646
[70]	train-rmse:414.71115	validation-rmse:549.26109
[71]	train-rmse:414.61971	validation-rmse:549.19929
[72]	train-rmse:413.81899	validation-rmse:548.80542
[73]	train-rmse:411.89991	validation-rmse:548.93475
[74]	train-rmse:411.68046	validation-rmse:548.84060
[75]	train-rmse:410.81587	validation-rmse:549.08106
[76]	train-rmse:409.82299	validation-rmse:548.92528
[77]	train-rmse:408.69013	validation-rmse:549.13324
[78]	train-rmse:407.66442	validation-rmse:548.67918
[79]	train-rmse:406.45158	validation-rmse:548.64845
[80]	train-rmse:405.41008	validation-rmse:549.03952
[81]	train-rmse:402.29233	validation-rmse:549.59993
[82]	train-rmse:401.69583	validation-rmse:550.01179
[83]	train-rmse:400.87249	validation-rmse:549.96468
[84]	train-rmse:399.97057	validation-rmse:550.02323
[85]	train-rmse:397.44832	validation-rmse:550.10937
[86]	train-rmse:396.02569	validation-rmse:550.12466
[87]	train-rmse:395.12048	validation-rmse:550.48523
[88]	train-rmse:393.18959	validation-rmse:551.49566
[89]	train-rmse:391.66809	validation-rmse:551.48338
[90]	train-rmse:391.04269	validation-rmse:551.87206
[91]	train-rmse:390.41813	validation-rmse:551.91370
[92]	train-rmse:390.24110	validation-rmse:551.79173
[93]	train-rmse:389.86101	validation-rmse:551.62759
[94]	train-rmse:388.93985	validation-rmse:552.04577
[95]	train-rmse:388.88729	validation-rmse:552.02025
[96]	train-rmse:388.29836	validation-rmse:552.15520
[97]	train-rmse:386.21618	validation-rmse:551.58851
[98]	train-rmse:384.82886	validation-rmse:551.77700
[99]	train-rmse:383.48826	validation-rmse:552.86131